/* resetting styles */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Own resets */
* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body,
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

/* No horizontal scrolling issues, smooth scrolling on in page links */
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Variables */
:root {
  /* Variable: colors */
  --cwhite: #fcfafa;
  --cblack: #0b2a34;
  --cblue: #2aafcc;
  --cyellow: #ffd075;
  /* Variable: fonts */
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: var(--cblack);
  /* Variable: border radius */
  --bradius: 5px;
}

@media (max-width: 829px) {
  :root {
    font-size: 12px;
    --fdefault: 1.33rem;
    --fbutton: 1.5rem;
    --fheader: 2rem;
    --fsubheader: 1.5rem;
    --ftitle: 2rem;
    --fsubtitle: 2rem;
    --fmenu: 2.5rem;
    --fskill: 1rem;
  }
}

@media (min-width: 830px) {
  :root {
    font-size: 21px;
    --fdefault: 1rem;
    --fbutton: 1.43rem;
    --fheader: 2.24rem;
    --fsubheader: 1.43rem;
    --ftitle: 2.24rem;
    --fsubtitle: 1.29rem;
    --fmenu: 1rem;
    --fskill: 0.8rem;
  }
}

/* Site background */
html {
  background: var(--cwhite);
  overflow-y: scroll;
}

.wrapper {
  position: relative;
}

body {
  max-width: 1200px;
  margin: 50px auto;
  display: -ms-grid;
  display: grid;
  line-height: 1.3;
  position: relative;
}

p {
  font-size: var(--fdefault);
}

/* Hover effects */
a,
button {
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.2s, -webkit-filter 0.2s;
  transition: -webkit-transform 0.2s, -webkit-filter 0.2s;
  transition: transform 0.2s, filter 0.2s;
  transition: transform 0.2s, filter 0.2s, -webkit-transform 0.2s, -webkit-filter 0.2s;
}

a:hover,
button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-filter: brightness(1.05);
          filter: brightness(1.05);
}

a:active, a:focus,
button:active,
button:focus {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-filter: brightness(0.95);
          filter: brightness(0.95);
}

/* Sections */
.section {
  margin: 45px 10px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10fr 1fr;
      grid-template-columns: 1fr 10fr 1fr;
      grid-template-areas: "h h h" ". c .";
}

.section--h {
      grid-template-areas: "c c c";
}

@media (max-width: 829px) {
  .section--h {
    height: 90vh;
  }
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: h;
}

.content {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: c;
}

/* Headers and subheaders */
.header {
  font-size: var(--fheader);
  font-weight: 800;
  color: var(--cblue);
  text-transform: uppercase;
}

.header::before {
  content: '<!-- ';
}

.header::after {
  content: ' -->';
}

.subheader {
  font-size: var(--fsubheader);
  font-weight: 800;
  color: var(--cblue);
  text-transform: uppercase;
}

.subheader.--d-right {
  text-align: right;
  padding-right: 0.1em;
}

.subheader.--m-right {
  text-align: right;
  padding-right: 0.1em;
}

/* Titles and subtitles */
.title {
  font-size: var(--ftitle);
  font-weight: 800;
  color: var(--cblack);
  text-transform: lowercase;
}

.subtitle {
  font-size: var(--fsubtitle);
  font-weight: 500;
  color: var(--cblue);
  text-transform: lowercase;
}

/* Call to action button */
.cta {
  width: 100%;
  white-space: nowrap;
  background: var(--cyellow);
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: var(--bradius);
  font-size: var(--fbutton);
  font-weight: 800;
  color: var(--cblack);
  text-transform: uppercase;
  -webkit-box-shadow: inset 0px -2px 0px rgba(11, 42, 52, 0.2);
          box-shadow: inset 0px -2px 0px rgba(11, 42, 52, 0.2);
}

@media (max-width: 829px) {
  .cta {
    padding: 1em 0.5em;
  }
}

@media (min-width: 830px) {
  .cta {
    padding: 0.3em 0.5em;
  }
}

.cta--blue {
  background: var(--cblue);
  font-size: var(--fbutton);
  font-weight: 500;
  color: var(--cwhite);
}

.cta--blue:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.cta--blue:active, .cta--blue:focus {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

/* Links */
.link {
  font-size: var(--fdefault);
  font-weight: 500;
  color: var(--cblack);
}

.link svg {
  fill: var(--cblue);
}

.link--icon-text {
  display: -ms-grid;
  display: grid;
  margin: 0.75em 0;
  -ms-grid-columns: (max-content)[2];
      grid-template-columns: repeat(2, -webkit-max-content);
      grid-template-columns: repeat(2, max-content);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 10px;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.link--icon-text svg {
  width: 1.5em;
  height: 1.5em;
}

/* Sections: content (does not include hero) */
.content {
  display: -ms-grid;
  display: grid;
  grid-gap: 0 25px;
  margin: 1em 0;
}

@media (max-width: 829px) {
  .content--h {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (min-width: 830px) {
  .content--h {
    -ms-grid-columns: 4fr 7fr 1fr;
        grid-template-columns: 4fr 7fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
}

@media (min-width: 830px) {
  .content--om {
    -ms-grid-columns: (minmax(380px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  }
}

@media (min-width: 830px) {
  .content--ma {
    -ms-grid-columns: minmax(180px, 2fr) 8fr;
        grid-template-columns: minmax(180px, 2fr) 8fr;
    -ms-grid-rows: max-content 1fr;
        grid-template-rows: -webkit-max-content 1fr;
        grid-template-rows: max-content 1fr;
  }
}

@media (min-width: 830px) {
  .content--k {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.content:not(.content--h) p {
  margin: 0.5em 0;
}

.content:not(.content--h) p:last-child {
  margin-bottom: 1.25em;
}

/* Hero section start */
@media (max-width: 829px) {
  .content--h {
    grid-template: "image" 1fr "title" 1fr "cta" 1fr;
  }
}

@media (min-width: 830px) {
  .content--h {
        grid-template-areas: "image title ." "image cta .";
  }
}

.hero-image {
  grid-area: image;
}

.hero-1 {
  grid-area: title;
}

.hero-2 {
  grid-area: cta;
}

/* Animation for square */
@-webkit-keyframes spinningSquare {
  100% {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}
@keyframes spinningSquare {
  100% {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

.hero-image {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-image--image {
  width: 100%;
  max-width: 100%;
}

.hero-image--wrapper {
  width: 90%;
  margin: 0 auto;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1 / 1;
  position: relative;
  top: -3%;
}

.hero-image--square {
  width: 100%;
  height: 0;
  padding-top: 100%;
  background: var(--cblue);
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1 / 1;
  position: relative;
  z-index: -1;
  border-radius: var(--bradius);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation: spinningSquare 20s infinite linear;
          animation: spinningSquare 20s infinite linear;
}

.hero-1 {
  text-align: center;
}

@media (max-width: 829px) {
  .hero-1 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (min-width: 830px) {
  .hero-1 {
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
}

.hero-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

@media (max-width: 829px) {
  .hero-2 {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
}

@media (min-width: 830px) {
  .hero-2 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 829px) {
  .hero-2 {
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.hero-cta, .hero-extra {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.hero-extra {
  margin-right: 10px;
  padding: 5px 0;
}

@media (min-width: 830px) {
  .hero-extra {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (min-width: 830px) {
  .hero-cta {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

/* Hero section end */
/* Om mig section start */
.readmore--text {
  overflow: hidden;
  position: relative;
  max-height: 2000px;
  -webkit-transition: 1s;
  transition: 1s;
}

.readmore--text::after {
  content: '';
  display: block;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 30%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(var(--cwhite)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0), var(--cwhite));
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

@media (max-width: 829px) {
  .readmore--text.hiding {
    max-height: 120px;
  }
}

@media (min-width: 830px) {
  .readmore--text.hiding {
    max-height: 480px;
  }
}

.readmore--text.hiding::after {
  content: '';
  opacity: 1;
}

.readmore--button {
  background: none;
  overflow: hidden;
  width: 100%;
  text-align: center;
  margin-bottom: 3em;
}

.readmore--button--text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: lowercase;
  font-size: var(--fdefault);
  font-weight: 400;
  color: var(--cblue);
  position: relative;
}

.readmore--button--text svg {
  fill: var(--cblue);
}

.readmore--button--text.hiding svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.readmore--button--text::before, .readmore--button--text::after {
  content: '';
  position: absolute;
  width: 100vw;
  border-bottom: 1px solid var(--cblue);
}

.readmore--button--text::before {
  right: 120%;
}

.readmore--button--text::after {
  left: 110%;
}

/* Skills */
.skill {
  margin: 10px 0;
}

.skill--wrapper {
  background: var(--cblue);
  padding: 10px 20px;
  margin: 0.5em 0;
  border-radius: var(--bradius);
}

.skill--title {
  font-size: var(--fskill);
  font-weight: 800;
  color: var(--cwhite);
  text-transform: uppercase;
  margin: 0.1em 0;
}

.skill--bar {
  width: 100%;
  height: 1.35em;
  background: var(--cwhite);
  border-radius: var(--bradius);
  overflow: hidden;
}

.skill--level {
  font-size: var(--fskill);
  font-weight: 500;
  color: var(--cblack);
  cursor: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 10px;
  width: 1%;
  height: 100%;
  color: var(--cblack);
  background: var(--cyellow);
  -webkit-transition: width 1.5s ease-in-out;
  transition: width 1.5s ease-in-out;
}

/* Om mig section end */
/* Work section start */
@media (max-width: 829px) {
  .content--ma {
        grid-template-areas: "projects" "links";
  }
}

@media (min-width: 830px) {
  .content--ma {
        grid-template-areas: "links projects";
  }
}

.work--extra {
  grid-area: links;
}

.work--projects {
  grid-area: projects;
}

.work--extra-text {
  text-align: center;
  font-size: var(--fdefault);
  font-weight: 500;
  color: var(--cblack);
}

.work--extra-links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 829px) {
  .work--extra-links {
    max-width: 300px;
    margin: 0 auto;
    padding: 0 2em;
    grid-gap: 2em;
  }
}

@media (min-width: 830px) {
  .work--extra-links {
    grid-gap: 0.5em;
  }
}

.work--projects::after {
  content: '';
  display: block;
  clear: both;
}

@media (max-width: 829px) {
  .work--projects {
    margin: 1em -10% 3em;
  }
}

.work--project {
  height: 0;
  float: left;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

@media (max-width: 829px) {
  .work--project {
    width: 48%;
    padding-top: 25.875%;
    margin: 1% 1%;
  }
}

@media (max-width: 552.33333px) {
  .work--project {
    width: 100%;
    padding-top: 30%;
    margin: 2% 1vw;
  }
}

@media (min-width: 830px) {
  .work--project {
    width: 48%;
    padding-top: 25.875%;
    margin: 1% 1%;
  }
}

.work--project--wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work--project--name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1 / 1;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  z-index: 10;
}

@media (max-width: 829px) {
  .work--project--name {
    font-size: var(--ftitle);
    font-weight: 800;
    color: var(--cblack);
  }
}

@media (min-width: 830px) {
  .work--project--name {
    font-size: var(--fsubheader);
    font-weight: 800;
    color: var(--cblack);
  }
}

.work--project--image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.work--project--image--wrapper {
  display: block;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1 / 1;
  width: 100%;
  max-height: 100%;
  position: relative;
  overflow: hidden;
}

.work--project--image--wrapper::after {
  content: '';
  display: block;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: var(--cyellow);
  opacity: 0.6;
}

/* Work section end */
/* Kontakt section start */
@media (max-width: 829px) {
  .content--k {
        grid-template-areas: "extra" "." "sh" "form";
  }
}

@media (min-width: 830px) {
  .content--k {
        grid-template-areas: "sh sh" "form extra";
  }
}

.kontakt--subheader {
  grid-area: sh;
}

.kontakt--form {
  grid-area: form;
}

.kontakt--extra {
  grid-area: extra;
}

.kontakt--form {
  margin: 10px 0;
  background: var(--cyellow);
  border-radius: var(--bradius);
  padding: 5px 10px;
}

.kontakt--form input,
.kontakt--form textarea {
  border: none;
  background: var(--cwhite);
  width: 100%;
  margin: 0.25em 0;
  padding: 5px 10px;
  border-radius: var(--bradius);
  font-family: inherit;
  font-size: var(--fdefault);
  font-weight: 400;
  color: var(--cblack);
}

.kontakt--form input::-webkit-input-placeholder,
.kontakt--form textarea::-webkit-input-placeholder {
  text-transform: lowercase;
}

.kontakt--form input:-ms-input-placeholder,
.kontakt--form textarea:-ms-input-placeholder {
  text-transform: lowercase;
}

.kontakt--form input::-ms-input-placeholder,
.kontakt--form textarea::-ms-input-placeholder {
  text-transform: lowercase;
}

.kontakt--form input::placeholder,
.kontakt--form textarea::placeholder {
  text-transform: lowercase;
}

.kontakt--form textarea {
  resize: vertical;
}

.kontakt--form button {
  width: 100%;
  margin: 0.25em 0;
}

.kontakt--extra {
  margin: 10px 0 2em;
}

.form--error {
  text-align: left;
}

@media (max-width: 829px) {
  .form--error {
    font-size: var(--fdefault);
    font-weight: 500;
    color: var(--cblack);
  }
}

@media (min-width: 830px) {
  .form--error {
    font-size: var(--fskill);
    font-weight: 500;
    color: var(--cblack);
  }
}

/* Kontakt section end */
/* Read more */
.readmore--button svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.hiding ~ .readmore--button svg {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

/* Project Page */
.arrow {
  position: absolute;
  background: none;
  fill: var(--cblue);
  -webkit-transition: -webkit-transform 0.1s, -webkit-filter 0.2s;
  transition: -webkit-transform 0.1s, -webkit-filter 0.2s;
  transition: transform 0.1s, filter 0.2s;
  transition: transform 0.1s, filter 0.2s, -webkit-transform 0.1s, -webkit-filter 0.2s;
}

@media (max-width: 829px) {
  .arrow {
    width: 8rem;
    height: 8rem;
    top: calc(50% - 4rem);
  }
}

@media (min-width: 830px) {
  .arrow {
    width: 5rem;
    height: 5rem;
    top: calc(50% - 2rem);
  }
}

.arrow:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-filter: brightness(1.05);
          filter: brightness(1.05);
}

.arrow:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.arrow-left {
  left: -12%;
}

.arrow-left svg {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.arrow-right {
  right: -12%;
}

.arrow-right svg {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.dot {
  background: var(--cblue);
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.dot-wrapper {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@media (max-width: 829px) {
  .dot-wrapper {
    bottom: -4rem;
  }
}

@media (min-width: 830px) {
  .dot-wrapper {
    bottom: -3rem;
  }
}

@media (max-width: 829px) {
  .dot {
    height: 2rem;
    width: 2rem;
    margin: 1rem 0.7rem;
  }
}

@media (min-width: 830px) {
  .dot {
    height: 1rem;
    width: 1rem;
    margin: 1rem 0.3rem;
  }
}

.dot.active, .dot:hover {
  opacity: 0.8;
  outline: none;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.content--p {
  position: relative;
}

.section--p {
  margin: 0 10px;
}

.project {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  padding: 2%;
}

.project--container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  grid-gap: 1rem;
  position: relative;
  -webkit-transition: left 1s;
  transition: left 1s;
}

.project--container--wrapper {
  width: 100%;
  overflow: hidden;
}

.project--absolute {
  position: absolute;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  z-index: 100;
}

@media (max-width: 829px) {
  .project {
        grid-template-areas: "pimage" "ptext" "plink";
  }
}

@media (min-width: 830px) {
  .project {
    -ms-grid-columns: 2fr 8fr;
        grid-template-columns: 2fr 8fr;
        grid-template-areas: "pimage pimage" "plink ptext";
  }
}

.project--image-wrapper {
  grid-area: pimage;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  position: relative;
  overflow: hidden;
}

@media (max-width: 829px) {
  .project--image-wrapper {
    margin-bottom: 3rem;
  }
}

@media (min-width: 830px) {
  .project--image-wrapper {
    margin-bottom: 2rem;
  }
}

.project--image {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.project--text {
  grid-area: ptext;
}

.project--name {
  font-size: var(--fsubheader);
  font-weight: 800;
  color: var(--cblack);
}

.project--description {
  font-size: var(--fdefault);
  font-weight: 400;
  color: var(--cblack);
}

.project--links {
  grid-area: plink;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 830px) {
  .project--links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.secondary {
  text-align: center;
  background: none;
  border: 3px solid var(--cyellow);
  -webkit-box-shadow: none;
          box-shadow: none;
  white-space: initial;
}

@media (max-width: 829px) {
  .secondary {
    margin: 0 1rem;
  }
}

@media (min-width: 830px) {
  .secondary {
    margin: 1rem 0;
  }
}
