/* resetting styles */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Own resets */
* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body,
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

/* No horizontal scrolling issues, smooth scrolling on in page links */
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Variables */
:root {
  /* Variable: colors */
  --cwhite: #fcfafa;
  --cblack: #0b2a34;
  --cblue: #2aafcc;
  --cyellow: #ffd075;
  /* Variable: fonts */
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: var(--cblack);
  /* Variable: border radius */
  --bradius: 5px;
}

@media (max-width: 999px) {
  :root {
    font-size: 12px;
    --fdefault: 1rem;
    --fbutton: 1.5rem;
    --fheader: 2rem;
    --fsubheader: 1.33rem;
    --ftitle: 24px;
    --fsubtitle: 24px;
    --fmenu: 30px;
  }
}

@media (min-width: 1000px) {
  :root {
    font-size: 21px;
    --fdefault: 1rem;
    --fbutton: 1.43rem;
    --fheader: 2.24rem;
    --fsubheader: 1.43rem;
    --ftitle: 2.24rem;
    --fsubtitle: 1.29rem;
    --fmenu: 1rem;
  }
}

/* Site background */
html {
  background: var(--cwhite);
}

.wrapper {
  position: relative;
}

/* Max width and centered */
body {
  max-width: 1440px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  line-height: 1.4;
  position: relative;
}

@media (max-width: 999px) {
  body {
    padding: 10px;
    grid-gap: 45px;
  }
}

@media (min-width: 1000px) {
  body {
    padding: 120px;
  }
}

/* Set up basic grid structure */
@media (max-width: 999px) {
  .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 1000px) {
  .grid {
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
  }
}

/* Animation for squares */
@-webkit-keyframes spinningSquare {
  100% {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}
@keyframes spinningSquare {
  100% {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

/* Call to action button */
.cta {
  width: 100%;
  background: var(--cyellow);
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: var(--bradius);
  font-size: var(--fbutton);
  font-weight: 500;
  text-transform: uppercase;
  -webkit-box-shadow: inset 0px -2px 0px rgba(11, 42, 52, 0.2);
          box-shadow: inset 0px -2px 0px rgba(11, 42, 52, 0.2);
}

@media (max-width: 999px) {
  .cta {
    margin: 0 auto;
    padding: 10px;
    max-width: 200px;
  }
}

@media (min-width: 1000px) {
  .cta {
    padding: 20px;
    max-width: 300px;
  }
}

/* Section headers */
.section__header {
  color: var(--cblue);
  font-size: var(--fheader);
  font-weight: 800;
  text-transform: uppercase;
  margin: 1em 0 1rem;
}

.section__header::before {
  content: '<!-- ';
}

.section__header::after {
  content: ' -->';
}

.section__subheader {
  color: var(--cblue);
  font-size: var(--fsubheader);
  font-weight: 800;
  text-transform: uppercase;
  margin: 1rem 0 0.1rem;
}

p {
  margin: 0.75rem 0;
}

/* Menu */
header {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 0;
  z-index: 100;
}

.menu {
  position: fixed;
  background: var(--cblue);
}

@media (max-width: 999px) {
  .menu.--mobileFullWidth {
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    padding: 20px 10em 20px 3em;
    width: 102vw;
    z-index: 10;
    top: -220px;
    left: 0;
  }
}

.menu__link {
  line-height: 1.5;
  text-transform: uppercase;
  color: var(--cwhite);
}

@media (max-width: 999px) {
  .menu__link {
    display: block;
    text-shadow: 0px 2px 4px rgba(11, 42, 52, 0.1);
    font-size: var(--fmenu);
    font-weight: 800;
  }
}

@media (min-width: 1000px) {
  .menu__link {
    display: inline-block;
    margin: 0 10px;
    padding: 5px 10px;
    font-size: var(--fmenu);
    font-weight: 400;
  }
}

.menu__button {
  position: fixed;
  border-radius: 100%;
  background: var(--cwhite);
  z-index: 100;
}

@media (max-width: 999px) {
  .menu__button {
    width: 44px;
    height: 44px;
  }
}

@media (min-width: 1000px) {
  .menu__button {
    width: 74px;
    height: 74px;
  }
}

.menu__button svg {
  fill: var(--cblue);
}

@media (max-width: 999px) {
  .menu__button svg {
    width: 25px;
    height: 25px;
  }
}

@media (min-width: 1000px) {
  .menu__button svg {
    width: 44px;
    height: 44px;
  }
}

.menu__button .opened {
  display: block;
}

.menu__button .closed {
  display: none;
}

.menu__button.--open .opened {
  display: none;
}

.menu__button.--open .closed {
  display: block;
}

.button__wrapper {
  position: absolute;
  right: 20px;
  top: -50px;
}

.menu__wrapper {
  position: absolute;
}

@media (max-width: 999px) {
  .menu__wrapper {
    top: 0;
    right: 20px;
  }
}

@media (min-width: 1000px) {
  .menu__wrapper {
    top: -33px;
    right: 680px;
  }
}

/* Hero section */
@media (max-width: 999px) {
  .hero {
    min-height: 100vh;
    text-align: center;
  }
}

@media (min-width: 1000px) {
  .hero.grid {
    -ms-grid-columns: 4fr 8fr;
        grid-template-columns: 4fr 8fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "heroImage heroTitle" "heroImage heroCTA";
  }
}

.hero__image {
  grid-area: heroImage;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  position: relative;
}

@media (max-width: 999px) {
  .hero__image {
    margin: 6em 0 6em;
  }
}

.hero__image img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1 / 1;
  position: relative;
  top: -15px;
}

.hero__image::before {
  content: '';
  border-radius: var(--bradius);
  width: 110%;
  height: 0;
  padding-top: 110%;
  background: var(--cblue);
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1 / 1;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation: spinningSquare 20s infinite linear;
          animation: spinningSquare 20s infinite linear;
}

@media (max-width: 999px) {
  .hero__title {
    margin: 0 0 auto 0;
  }
}

@media (min-width: 1000px) {
  .hero__title {
    grid-area: heroTitle;
    text-align: center;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
}

.hero__cta {
  grid-area: heroCTA;
}

@media (max-width: 999px) {
  .hero__cta {
    margin: 0 0 7em 0;
  }
}

@media (min-width: 1000px) {
  .hero__cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 100px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.title {
  font-size: var(--ftitle);
  font-weight: 500;
  color: var(--cblack);
  text-transform: lowercase;
  line-height: 1.8;
}

.subtitle {
  font-size: var(--fsubtitle);
  font-weight: 400;
  color: var(--cblue);
  text-transform: lowercase;
  line-height: 1.15;
}

@media (min-width: 1000px) {
  .cta {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.extra {
  margin-right: 25px;
}

.email {
  display: block;
  font-weight: 500;
  color: var(--cblack);
}

@media (min-width: 1000px) {
  .email {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

/* Om mig section */
.omMig__para {
  margin: -1rem 35px 0 35px;
}
