// main: style.scss

/* Variables */
// Variable: breakpoint
$bp: 1000px;

:root {
  /* Variable: colors */
  --cwhite: #fcfafa;
  --cblack: #0b2a34;
  --cblue: #2aafcc;
  --cyellow: #ffd075;

  /* Variable: fonts */
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: var(--cblack);

  /* Variable: border radius */
  --bradius: 5px;

  @media (max-width: $bp - 1) {
    font-size: 12px;
    --fdefault: 1rem;
    --fbutton: 1.5rem;
    --fheader: 2rem;
    --fsubheader: 1.33rem;
    --ftitle: 24px;
    --fsubtitle: 24px;
    --fmenu: 30px;
  }

  @media (min-width: $bp) {
    font-size: 21px;
    --fdefault: 1rem;
    --fbutton: 1.43rem;
    --fheader: 2.24rem;
    --fsubheader: 1.43rem;
    --ftitle: 2.24rem;
    --fsubtitle: 1.29rem;
    --fmenu: 1rem;
  }
}

/* Site background */
html {
  background: var(--cwhite);
}

.wrapper {
  position: relative;
}

/* Max width and centered */
body {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  line-height: 1.4;
  position: relative;

  // Mobile
  @media (max-width: $bp - 1) {
    padding: 10px;
    grid-gap: 45px;
  }

  // Desktop
  @media (min-width: $bp) {
    padding: 120px;
  }
}

// Quick mixin for font
@mixin font($size, $weight, $style: 0) {
  font-size: $size;
  font-weight: $weight;

  @if $style !=0 {
    font-style: italic;
  }
}

/* Set up basic grid structure */
.grid {

  // Mobile
  @media (max-width: $bp - 1) {
    display: flex;
    flex-direction: column;
  }

  // Desktop
  @media (min-width: $bp) {
    display: grid;
    grid-gap: 20px;
  }
}

/* Animation for squares */
@keyframes spinningSquare {
  100% {
    transform: rotate(135deg);
  }
}

/* Call to action button */
.cta {
  width: 100%;
  background: var(--cyellow);

  // Mobile
  @media (max-width: $bp - 1) {
    margin: 0 auto;
    padding: 10px;
    max-width: 200px;
  }

  // Desktop
  @media (min-width: $bp) {
    padding: 20px;
    max-width: 300px;
  }

  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;


  border-radius: var(--bradius);
  @include font(var(--fbutton), 500);
  text-transform: uppercase;
  box-shadow: inset 0px -2px 0px rgba(11, 42, 52, 0.2);
}

/* Section headers */
.section__header {
  color: var(--cblue);
  @include font(var(--fheader), 800);
  text-transform: uppercase;
  margin: 1em 0 1rem;

  &::before {
    content: '<!-- ';
  }

  &::after {
    content: ' -->'
  }
}

.section__subheader {
  color: var(--cblue);
  @include font(var(--fsubheader), 800);
  text-transform: uppercase;
  margin: 1rem 0 0.1rem;
}

p {
  margin: 0.75rem 0;
}

/* Menu */

header {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 0;
  z-index: 100;
}


.menu {
  position: fixed;

  // Mobile
  &.--mobileFullWidth {
    @media (max-width: $bp - 1) {
      margin-left: 50%;
      transform: translateX(-50%);
      padding: 20px 10em 20px 3em;
      width: 102vw;
      z-index: 10;
      top: -220px;
      left: 0;
    }
  }

  background: var(--cblue);

  &__link {

    // Mobile
    @media (max-width: $bp - 1) {
      display: block;
      text-shadow: 0px 2px 4px rgba(11, 42, 52, 0.1);
      @include font(var(--fmenu), 800);
    }

    // Desktop
    @media (min-width: $bp) {
      display: inline-block;
      margin: 0 10px;
      padding: 5px 10px;
      @include font(var(--fmenu), 400);
    }


    line-height: 1.5;
    text-transform: uppercase;
    color: var(--cwhite);

  }

  &__button {
    position: fixed;

    @media (max-width: $bp - 1) {
      width: 44px;
      height: 44px;
    }

    // Desktop
    @media (min-width: $bp) {
      width: 74px;
      height: 74px;
    }

    border-radius: 100%;
    background: var(--cwhite);
    z-index: 100;

    svg {
      fill: var(--cblue);

      // Mobile
      @media (max-width: $bp - 1) {
        width: 25px;
        height: 25px;
      }

      // Desktop
      @media (min-width: $bp) {
        width: 44px;
        height: 44px;
      }
    }

    .opened {
      display: block;
    }

    .closed {
      display: none;
    }

    &.--open {
      .opened {
        display: none;
      }

      .closed {
        display: block;
      }
    }
  }
}

.button__wrapper {
  position: absolute;
  right: 20px;
  top: -50px;
}

.menu__wrapper {
  position: absolute;

  // Mobile
  @media (max-width: $bp - 1) {
    top: 0;
    right: 20px;
  }

  // Desktop
  @media (min-width: $bp) {
    top: -33px;
    right: 680px;
  }


}

/* Hero section */
.hero {

  // Hero grid layout
  // Mobile
  @media (max-width: $bp - 1) {
    min-height: 100vh;
    text-align: center;
  }

  &.grid {

    // Desktop
    @media (min-width: $bp) {
      grid-template-columns: 4fr 8fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        "heroImage heroTitle"
        "heroImage heroCTA"
    }
  }

  &__image {
    grid-area: heroImage;

    display: grid;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;

    position: relative;

    // Mobile
    @media (max-width: $bp - 1) {
      margin: 6em 0 6em;
    }


    img {
      grid-area: 1 / 1;
      position: relative;
      top: -15px;
    }

    &::before {
      content: '';
      border-radius: var(--bradius);
      width: 110%;
      height: 0;
      padding-top: 110%;
      background: var(--cblue);
      grid-area: 1 / 1;
      transform: rotate(45deg);
      animation: spinningSquare 20s infinite linear;
    }
  }

  &__title {

    // Mobile
    @media (max-width: $bp - 1) {
      margin: 0 0 auto 0;
    }

    // Desktop
    @media (min-width: $bp) {
      grid-area: heroTitle;
      text-align: center;
      align-self: end;
    }
  }

  &__cta {
    grid-area: heroCTA;

    @media (max-width: $bp - 1) {
      margin: 0 0 7em 0;
    }

    // Desktop
    @media (min-width: $bp) {
      display: flex;
      align-items: center;
      padding: 0 100px;
      justify-content: space-between;
    }
  }

  @at-root .title {
    @include font(var(--ftitle), 500);
    color: var(--cblack);
    text-transform: lowercase;
    line-height: 1.8;
  }

  @at-root .subtitle {
    @include font(var(--fsubtitle), 400);
    color: var(--cblue);
    text-transform: lowercase;
    line-height: 1.15;
  }

  @at-root .cta {
    @media (min-width: $bp) {
      order: 2;
    }
  }

  @at-root .extra {
    margin-right: 25px;
  }

  @at-root .email {
    display: block;
    font-weight: 500;
    color: var(--cblack);

    // Desktop
    @media (min-width: $bp) {
      order: 1;
    }
  }
}

/* Om mig section */
.omMig {
  &__para {
    margin: -1rem 35px 0 35px;
  }
}