// main: style.scss
/* Responsive video */
.video {
  position: relative;
  padding-bottom: 56.25%;
  /* - for 16:9 video*/
  /*padding-bottom: 75%;*/
  /* - for 4:3 video*/
  height: 0;
  overflow: hidden;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin responsiveImage {
  height: auto;
  display: inline-block;
  object-fit: cover;
}

@mixin font($size, $weight, $style: 0) {
  font-size: $size;
  font-weight: $weight;

  @if $style !=0 {
    font-style: italic;
  }
}

/* Variables */
:root {
  // Variable: breakpoint
  $bp: 500px;

  /* Variable: colors */
  --cwhite: #fcfafa;
  --cblack: #0b2a34;
  --cyellow: #2aafcc;
  --cblue: #ffd075;

  /* Variable: fonts */
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: var(--cblack);

  @media (max-width: $bp - 1) {
    font-size: 1rem;
    --fdefault: 1rem;
    --fbutton: 1.5rem;
    --fheader: 2rem;
    --fsubheader: 1.33rem;
    --ftitle: 2rem;
    --fsubtitle: 2rem;
    --fmenu: 2.5rem;
  }

  @media (min-width: $bp) {
    font-size: 1.3rem;
    --fdefault: 1rem;
    --fbutton: 1.43rem;
    --fheader: 2.24rem;
    --fsubheader: 1.14rem;
    --ftitle: 2.24rem;
    --fsubtitle: 1.29rem;
    --fmenu: 1rem;
  }
}

html {
  background: var(--cwhite);
}

body {
  max-width: 1440px;
}


// ------------------------------------------------------------------------------------------------

// header

// body

// footer