// main: style.scss
/* Responsive video */
.video {
  position: relative;
  padding-bottom: 56.25%; /* - for 16:9 video*/
  /*padding-bottom: 75%;*/  /* - for 4:3 video*/
  height: 0;
  overflow: hidden;
}
.video iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin responsiveImage {
  height: auto;
  display: inline-block;
  object-fit: cover;
}

// ------------------------------------------------------------------------------------------------

// header

// body

// footer
