@import 'standard';

$bp: 830px;

/* Variables */
:root {
  /* Variable: colors */
  --cwhite: #fcfafa;
  --cblack: #0b2a34;
  --cblue: #2aafcc;
  --cyellow: #ffd075;

  /* Variable: fonts */
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: var(--cblack);

  @media (max-width: $bp - 1) {
    font-size: 12px;
    --fdefault: 1.33rem;
    --fbutton: 1.5rem;
    --fheader: 2rem;
    --fsubheader: 1.5rem;
    --ftitle: 2rem;
    --fsubtitle: 2rem;
    --fmenu: 2.5rem;
    --fskill: 1rem;
  }

  @media (min-width: $bp) {
    font-size: 21px;
    --fdefault: 1rem;
    --fbutton: 1.43rem;
    --fheader: 2.24rem;
    --fsubheader: 1.43rem;
    --ftitle: 2.24rem;
    --fsubtitle: 1.29rem;
    --fmenu: 1rem;
    --fskill: 0.8rem;
  }

  /* Variable: border radius */
  --bradius: 5px;
}

// Quick mixin for font
@mixin font($size: 0, $weight: 0, $color: 0, $style: 0) {

  @if $size !=0 {
    font-size: var(--f#{$size});
  }

  @if $weight !=0 {
    font-weight: $weight;
  }

  @if $style !=0 {
    font-style: italic;
  }

  @if $color !=0 {
    color: var(--c#{$color});
  }
}

/* Site background */
html {
  background: var(--cwhite);
  overflow-y: scroll;
}

.wrapper {
  position: relative;
}

body {
  max-width: 1200px;
  margin: 50px auto;
  display: grid;
  line-height: 1.3;
  position: relative;
}

p {
  @include font(default);
}

/* Hover effects */
a,
button {
  -webkit-font-smoothing: subpixel-antialiased;
  transform: translateZ(0);
  backface-visibility: hidden;
  transition: transform 0.2s, filter 0.2s;

  &:hover {
    transform: scale(1.05);
    filter: brightness(1.05);
  }

  &:active,
  &:focus {
    transform: scale(0.95);
    filter: brightness(0.95);
  }
}

/* Sections */
.section {
  margin: 45px 10px 0;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:
    "h h h"
    ". c .";

  &--h {
    grid-template-areas:
      "c c c";

    // before breakpoint
    @media (max-width: $bp - 1) {
      height: 90vh;
    }

    // after breakpoint
    @media (min-width: $bp) {}
  }

  @at-root .header {
    grid-area: h;
  }

  @at-root .content {
    grid-area: c;
  }
}

/* Headers and subheaders */
.header {
  @include font(header, 800, blue);
  text-transform: uppercase;

  &::before {
    content: '<!-- '
  }

  &::after {
    content: ' -->'
  }
}

.subheader {
  @include font(subheader, 800, blue);
  text-transform: uppercase;

  &.--d-right {
    text-align: right;
    padding-right: 0.1em;
  }

  &.--m-right {
    text-align: right;
    padding-right: 0.1em;
  }
}

/* Titles and subtitles */
.title {
  @include font(title, 800, black);
  text-transform: lowercase;
}

.subtitle {
  @include font(subtitle, 500, blue);
  text-transform: lowercase;
}

/* Call to action button */
.cta {
  width: 100%;
  white-space: nowrap;
  background: var(--cyellow);

  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: var(--bradius);
  @include font(button, 800, black);
  text-transform: uppercase;
  box-shadow: inset 0px -2px 0px rgba(11, 42, 52, 0.2);

  // before breakpoint
  @media (max-width: $bp - 1) {
    padding: 1em 0.5em;
  }

  // after breakpoint
  @media (min-width: $bp) {
    padding: 0.3em 0.5em;
  }

  &--blue {
    background: var(--cblue);
    @include font(button, 500, white);

    &:hover {
      transform: scale(1.01);
    }

    &:active,
    &:focus {
      transform: scale(0.98);
    }
  }

  &.disabled {
    opacity: 0.2;
    cursor: not-allowed;

    &:hover, &:active, &:focus {
      transform: scale(1);
      filter: brightness(1);
    }
  }
}

/* Links */
.link {
  @include font(default, 500, black);

  svg {
    fill: var(--cblue);
  }

  &--icon-text {
    display: grid;
    margin: 0.75em 0;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    grid-gap: 10px;
    transform-origin: left;

    svg {
      width: 1.5em;
      height: 1.5em;
    }
  }
}

/* Sections: content (does not include hero) */
.content {
  display: grid;
  grid-gap: 0 25px;
  margin: 1em 0;

  &--h {

    // before breakpoint
    @media (max-width: $bp - 1) {
      grid-template-columns: 1fr;
    }

    // after breakpoint
    @media (min-width: $bp) {
      grid-template-columns: 4fr 7fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }

  &--om {

    // before breakpoint
    @media (max-width: $bp - 1) {}

    // after breakpoint
    @media (min-width: $bp) {
      grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    }
  }

  &--ma {

    // before breakpoint
    @media (max-width: $bp - 1) {}

    // after breakpoint
    @media (min-width: $bp) {
      grid-template-columns: minmax(180px, 2fr) 8fr;
      grid-template-rows: max-content 1fr;
    }
  }

  &--k {

    // after breakpoint
    @media (min-width: $bp) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &--om p {
    margin: 0.5em 0;

    &:last-child {
      margin-bottom: 1.25em;
    }
  }
}


/* Hero section start */
.content--h {

  // before breakpoint
  @media (max-width: $bp - 1) {
    grid-template:
      "image"1fr "title"1fr "cta"1fr;
  }

  // after breakpoint
  @media (min-width: $bp) {
    grid-template-areas:
      "image title ."
      "image cta .";
  }

  @at-root .hero {
    &-image {
      grid-area: image;
    }

    &-1 {
      grid-area: title;
    }

    &-2 {
      grid-area: cta;
    }
  }
}


/* Animation for square */
@keyframes spinningSquare {
  100% {
    transform: rotate(135deg);
  }
}

.hero {
  &-image {
    display: grid;
    align-items: center;
    justify-content: center;

    &--image {
      width: 100%;
      max-width: 100%;
    }

    &--wrapper {
      width: 90%;
      margin: 0 auto;
      grid-area: 1 / 1;
      position: relative;
      top: -3%;
    }

    &--square {
      width: 100%;
      height: 0;
      padding-top: 100%;
      background: var(--cblue);
      grid-area: 1 / 1;
      position: relative;
      z-index: -1;
      border-radius: var(--bradius);
      transform: rotate(45deg);
      animation: spinningSquare 20s infinite linear;
    }
  }

  &-1 {
    text-align: center;

    // before breakpoint
    @media (max-width: $bp - 1) {
      align-self: center;
    }

    // after breakpoint
    @media (min-width: $bp) {
      align-self: end;
    }
  }

  &-2 {
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    text-align: right;

    // before breakpoint
    @media (max-width: $bp - 1) {
      align-self: start;
    }

    // after breakpoint
    @media (min-width: $bp) {
      align-self: center;
    }

    // before breakpoint
    @media (max-width: $bp - 1) {
      margin: 0 auto;
      flex-direction: column;
      text-align: center;
    }
  }

  &-cta,
  &-extra {
    flex: 1;
  }

  &-extra {

    // before breakpoint
    @media (max-width: $bp - 1) {}

    // after breakpoint
    @media (min-width: $bp) {
      order: 1;
      margin-right: 20px;
    }
    padding: 5px 0;
  }

  &-cta {

    // before breakpoint
    @media (max-width: $bp - 1) {}

    // after breakpoint
    @media (min-width: $bp) {
      order: 2;
    }
  }
}

/* Hero section end */


/* Om mig section start */
.readmore {
  &--text {
    overflow: hidden;
    position: relative;
    max-height: 2000px;
    transition: 1s;

    &::after {
      content: '';
      display: block;
      bottom: 0;
      position: absolute;
      width: 100%;
      height: 30%;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0), var(--cwhite));
      opacity: 0;

      transition: opacity 1s;
    }

    &.hiding {

      // before breakpoint
      @media (max-width: $bp - 1) {
        max-height: 120px;
      }

      // after breakpoint
      @media (min-width: $bp) {
        max-height: 480px;
      }
    }

    &.hiding::after {
      content: '';
      opacity: 1;
    }
  }

  &--button {
    background: none;
    overflow: hidden;
    width: 100%;
    text-align: center;
    margin-bottom: 3em;

    &--text {
      display: inline-flex;
      align-items: center;
      text-transform: lowercase;
      @include font(default, 400, blue);
      position: relative;

      svg {
        fill: var(--cblue);
      }

      &.hiding {
        svg {
          transform: rotate(180deg);
        }
      }

      &::before,
      &::after {
        content: '';
        position: absolute;
        width: 100vw;
        border-bottom: 1px solid var(--cblue);
      }

      &::before {
        right: 120%;
      }

      &::after {
        left: 110%;
      }
    }
  }
}

/* Skills */
.skill {
  margin: 10px 0;

  &--wrapper {
    background: var(--cblue);
    padding: 10px 20px;
    margin: 0.5em 0;
    border-radius: var(--bradius);
  }

  &--title {
    @include font(skill, 800, white);
    text-transform: uppercase;
    margin: 0.1em 0;
  }

  &--bar {
    width: 100%;
    height: 1.35em;
    background: var(--cwhite);
    border-radius: var(--bradius);
    overflow: hidden;
  }

  &--level {
    @include font(skill, 500, black);
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    width: 1%;
    height: 100%;
    color: var(--cblack);
    background: var(--cyellow);
    transition: width 1.5s ease-in-out;
  }
}

/* Om mig section end */


/* Work section start */
.content--ma {

  // before breakpoint
  @media (max-width: $bp - 1) {
    grid-template-areas:
      // "sort"
      "projects"
      "links";
  }

  // after breakpoint
  @media (min-width: $bp) {
    grid-template-areas:
      "links projects"
  }

  @at-root .work {
    &--extra {
      grid-area: links;
    }

    // &--filters {
    //   grid-area: sort;
    // }

    &--projects {
      grid-area: projects;
    }
  }
}

.work {
  &--extra {
    &-text {
      text-align: center;
      @include font(default, 500, black);
    }

    &-links {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;

      // before breakpoint
      @media (max-width: $bp - 1) {
        max-width: 300px;
        margin: 0 auto;
        padding: 0 2em;
        grid-gap: 2em;
      }

      // after breakpoint
      @media (min-width: $bp) {
        grid-gap: 0.5em;
      }
    }
  }

  &--projects {
    &::after {
      // clearfix
      content: '';
      display: block;
      clear: both;
    }

    // before breakpoint
    @media (max-width: $bp - 1) {
      margin: 1em -10% 3em;
    }

    // after breakpoint
    @media (min-width: $bp) {}
  }

  &--project {

    // before breakpoint
    @media (max-width: $bp - 1) {
      width: 48%;
      padding-top: 9 / 16 * 46%;
      margin: 1% 1%;
    }

    // before breakpoint EVEN SMALLER
    @media (max-width: ($bp / 1.5) - 1) {
      width: 100%;
      padding-top: 3 / 10 * 100%;
      margin: 2% 1vw;
    }

    // after breakpoint
    @media (min-width: $bp) {
      width: 48%;
      padding-top: 9 / 16 * 46%;
      margin: 1% 1%;
    }

    height: 0;
    float: left;
    overflow: hidden;
    position: relative;
    cursor: pointer;

    &--wrapper {
      position: absolute;
      top: 0;
      left: 0;
      display: grid;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
    }

    &--name {
      grid-area: 1 / 1;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      text-shadow: 2px 2px 1px var(--cyellow);

      // before breakpoint
      @media (max-width: $bp - 1) {
        @include font(title, 800, black);
      }

      // after breakpoint
      @media (min-width: $bp) {
        @include font(subheader, 800, black);
      }

      z-index: 10;
    }

    &--image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &--image--wrapper {
      display: block;
      grid-area: 1 / 1;
      width: 100%;
      max-height: 100%;
      position: relative;
      overflow: hidden;

      &::after {
        content: '';
        display: block;
        top: 0;
        left: 0;
        position: absolute;
        z-index: 5;
        width: 100%;
        height: 100%;
        background: var(--cyellow);
        opacity: 0.6;
      }
    }
  }
}

// .filter {
//   &--buttons-group {
//     display: flex;

//     // after breakpoint
//     @media (min-width: $bp) {
//       flex-direction: column;
//     }
//   }

//   &--button {
//     @include font(button, 400, black);
//     text-transform: uppercase;
//     text-align: left;
//     padding: 0.3em 0.6em;

//     background: none;
//     border-radius: var(--bradius);
//     border: 3px solid var(--cyellow);

//     &:hover {
//       background: rgba(255, 208, 117, 0.5);
//     }

//     &-active {
//       background: var(--cyellow);
//     }

//     // before breakpoint
//     @media (max-width: $bp - 1) {
//       margin: 0 1vw;
//       flex: 1;
//     }

//     // after breakpoint
//     @media (min-width: $bp) {
//       margin: 0.2em 0;
//     }
//   }
// }

/* Work section end */


/* Kontakt section start */
.content--k {

  // before breakpoint
  @media (max-width: $bp - 1) {
    grid-template-areas:
      "extra"
      "."
      "sh"
      "form";
  }

  // after breakpoint
  @media (min-width: $bp) {
    grid-template-areas:
      "sh sh"
      "form extra";
  }

  @at-root .kontakt {
    &--subheader {
      grid-area: sh;
    }

    &--form {
      grid-area: form;
    }

    &--extra {
      grid-area: extra;
    }
  }
}

.kontakt {
  &--form {
    margin: 10px 0;
    background: var(--cyellow);
    border-radius: var(--bradius);
    padding: 5px 10px;
    position: relative;
    overflow: hidden;

    input,
    textarea {
      border: none;
      background: var(--cwhite);
      width: 100%;
      margin: 0.25em 0;
      padding: 5px 10px;
      border-radius: var(--bradius);
      font-family: inherit;
      @include font(default, 400, black);

      &::placeholder {
        text-transform: lowercase;
      }
    }

    textarea {
      resize: vertical;
    }

    button {
      width: 100%;
      margin: 0.25em 0;
      // padding: 5px 10px;
    }
  }

  &--extra {
    margin: 10px 0 2em;
  }
}

.form--error {
  text-align: left;

  // before breakpoint
  @media (max-width: $bp - 1) {
    @include font(default, 500, black);
  }

  // after breakpoint
  @media (min-width: $bp) {
    @include font(skill, 500, black);
  }
}

.form--popup {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--cyellow);
  top: 0;
  left: 0;
  border-radius: var(--bradius);
  padding: 0.5em 1em;
  margin: 0;
  transition: transform 0.7s cubic-bezier(.86,0,.12,1.24);
  transform: translateY(100%);

  .done & {
    transform: translateY(0%);
  }
}

/* Kontakt section end */



/* Read more */
.readmore--button svg {
  transform: rotate(180deg);
}

.hiding~.readmore--button svg {
  transform: rotate(0deg);
}



/* Project Page */

.arrow {
  position: absolute;

  // before breakpoint
  @media (max-width: $bp - 1) {
    width: 8rem;
    height: 8rem;
    top: calc(50% - 4rem);
  }

  // after breakpoint
  @media (min-width: $bp) {
    width: 5rem;
    height: 5rem;
    top: calc(50% - 2rem);
  }

  background: none;
  fill: var(--cblue);
  transition: transform 0.1s,
  filter 0.2s;

  &:hover {
    transform: scale(1.15);
    filter: brightness(1.05);
  }

  &:active {
    transform: scale(0.95);
    filter: brightness(0.9);
  }

  &-left {
    left: -12%;

    svg {
      transform: rotate(90deg);
    }
  }

  &-right {
    right: -12%;

    svg {
      transform: rotate(-90deg);
    }
  }
}

.dot {
  &-wrapper {
    position: absolute;

    // before breakpoint
    @media (max-width: $bp - 1) {
      bottom: -3.5rem;
    }

    // after breakpoint
    @media (min-width: $bp) {
      bottom: -2.4rem;
    }

    display: flex;
    justify-content: center;
    width: 100%;
  }

  background: var(--cblue);
  border-radius: 50%;
  cursor: pointer;

  // before breakpoint
  @media (max-width: $bp - 1) {
    height: 1.5rem;
    width: 1.5rem;
    margin: 1rem 0.5rem;
  }

  // after breakpoint
  @media (min-width: $bp) {
    height: 1rem;
    width: 1rem;
    margin: 1rem 0.3rem;
  }

  opacity: 0.5;
  -webkit-transition: 0.2s;
  transition: 0.2s;

  &.active,
  &:hover {
    opacity: 0.8;
    outline: none;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.content--p {
  position: relative;
}

.section--p {
  margin: 0 10px;
}

.project {
  &--container {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    grid-gap: 1rem;
    position: relative;
    transition: transform 1s;

    &--wrapper {
      // width: 100%;
      overflow: hidden;
    }
  }

  &--absolute {
    position: absolute;
    width: 100%;
    height: 0;
    padding-top: 1080 / 1920 * 100%;
    z-index: 100;
  }

  display: grid;
  grid-gap: 1rem;
  padding: 2%;

  grid-template-rows: max-content;

  // before breakpoint
  @media (max-width: $bp - 1) {
    grid-template-areas:
      "pimage"
      "ptext"
      "plink";
  }

  // after breakpoint
  @media (min-width: $bp) {
    grid-template-columns: 2fr 8fr;
    grid-template-areas:
      "pimage pimage"
      "plink ptext";
  }

  &--image-wrapper {
    grid-area: pimage;
    width: 100%;
    height: 0;
    padding-top: 1080 / 1920 * 100%;
    position: relative;
    overflow: hidden;
    filter: drop-shadow(0 0 7px rgba(0,0,0,0.3));

    // before breakpoint
    @media (max-width: $bp - 1) {
      margin-bottom: 3rem;
    }

    // after breakpoint
    @media (min-width: $bp) {
      margin-bottom: 2rem;
    }
  }

  &--image {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &--text {
    grid-area: ptext;
  }

  &--name {
    @include font(subheader, 800, black);
  }

  &--description {
    @include font(default, 400, black);
  }

  &--links {
    grid-area: plink;
    display: flex;
    align-items: flex-start;

    // before breakpoint
    @media (max-width: $bp - 1) {}

    // after breakpoint
    @media (min-width: $bp) {
      flex-direction: column;
    }
  }

  // &--link {
  // }

  @at-root .secondary {

    // before breakpoint
    @media (max-width: $bp - 1) {
      margin: 0 1rem;
    }

    // after breakpoint
    @media (min-width: $bp) {
      margin: 1rem 0;
    }

    text-align: center;
    background: none;
    box-shadow: inset 0 0 0 3px var(--cyellow);
    white-space: initial;
  }

}

.extraspace {
  margin-top: 0.5em;
}